# Node.js
node_modules/

# Dependências de build
dist/
build/

# IDEs
.vscode/
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Env files
.env
.env.local

# Cache
.cache/
**/__pycache__/

# Arquivos temporários
static/assets/

# Histórico
.history/